<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
        .body {

        }
        .ItemFormBox {
            display: flex;
            width: 0px;
            flex-justify: row;
        }
    </style>
</head>
<body>
<%- include('partials/navbar') %>
<h1 style="text-align: center;">Admin Panel</h1>
<div style="max-width: 800px; margin-left: 10px; padding: 20px;">
    <h2>Manage Users</h2>
    <table border="1" style="width: 100%; border-collapse: collapse; text-align: left;">
        <thead>
            <tr>
                <th> userID</th>
                <th> username</th>
                <th> hash_password </th>
                <th> creationDate </th>
                <th> updateDate </th>
                <th> deletionDate </th>
                <th> adminStatus </th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(user => { %>
            <tr>
                <td><%= user.userID %> </td>
                <td><%= user.username %> </td>
                <td><%= user.password %> </td>
                <td><%= user.creationDate %> </td>
                <td><%= user.updateDate %> </td>
                <td><%= user.deletionDate %> </td>
                <td><%= user.adminStatus %> </td>
                <td>
                    <form action="/admin/delete/<%= user._id %>" method="POST" style="display: inline;">
                        <button type="submit"  class="btn btn-sm btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            <% }); %>
        </tbody>
    </table>
    <h3>Add New User</h3>
    <form action="/admin/addUser" method="POST">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>

    <span> admin: </span>
    <input type="checkbox" id="toggle" name="adminStatus">
        <p style="color: red"> <%= ERROR_LOG %> </p>
        <button type="submit">Add User</button>
    </form>


      <h1 style="text-align: center;"> Items panel </h1>
    <div class="container mt-5">
      <div class="ItemFormBox">
          <form id="itemForm" method="POST" action="/admin/add">

              <h1> <b> New Item </b> </h1>
              <input type="text" id="url1" name="url1" placeholder="url1" required>
              <input type="text" id="url2" name="url2" placeholder="url2" required>
              <input type="text" id="url3" name="url3" placeholder="url3" required>

              <input type="text" id="name_ru" name="name_ru" placeholder="name in russian" required>
              <input type="text" id="name_en" name="name_en" placeholder="name in english" required>

              <input type="text" id="desc_ru" name="desc_ru" placeholder="description in russian" required>
              <input type="text" id="desc_en" name="desc_en" placeholder="description in english" required>


              <button type="submit"> Create </button>

          </form>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th> first picture</th>
            <th> second picture </th>
            <th> third picture </th>
            <th> name in russian </th>
            <th> name in english </th>
            <th> description in russian </th>
            <th> description in english </th>
          </tr>
        </thead>
        <tbody>
            <% items.forEach(item => { %>
            <tr>
            <td> <%= item.itemId %> </td>
            <td> <img src = "<%= item.url1 %>"> </td>
            <td> <img src = "<%= item.url2 %>"> </td>
            <td> <img src = "<%= item.url3 %>"> </td>
            <td> <%= item.name_ru %> </td>
            <td> <%= item.name_en %> </td>
            <td> <%= item.desc_ru %> </td>
            <td> <%= item.desc_en %> </td>
            <td>
                <form action="/admin/del/<%= item.id %>" method="POST">
                   <button type="submit" class="btn btn-sm btn-danger"> Delete </button>
                </form>
            </td>
            <td>
                 <a href="/admin/edit/<%= item.id %>" class="btn btn-sm btn-warning">Edit</a>
            </td>
            </tr>
            <% }) %>
        </tbody>
      </table>
    </div>
</div>
</body>
</html>
